<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Project2</display-name>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>csci310.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>csci310.servlets.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupDateServlet</servlet-name>
        <servlet-class>csci310.servlets.GroupDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketmasterServlet</servlet-name>
        <servlet-class>csci310.servlets.TicketmasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/api/users/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/api/session/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupDateServlet</servlet-name>
        <url-pattern>/api/groupDates/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketmasterServlet</servlet-name>
        <url-pattern>/api/ticketmaster/*</url-pattern>
    </servlet-mapping>
</web-app>
